<!-- Features Section -->
<section id="features">
<div class="container">


<! -- Cards -->
<!-- Card 1 --> 
<div class="card">
    <h3>Career</h3>
    <p>Review my career documents including my resume, cover letter, and job applications.</p>
    </div>
    <!-- Card 2 -->
    <div class="card">
    <h3>Design</h3>
    <p>Review my website designs and image creations.</p>
    </div>
    <!-- Card 3 -->
    <div class="card">
    <h3>Programming</h3>
    <p>Review my JavaScript applications.</p>
    </div>
    </div>
    <!-- End Features Container -->
    </section>
    <!-- End Features Section -->

    <style>
        /*  Features Section Styles */
        #features .container {
    padding-top: 0rem; 
    background-color: none;
    display: flex;
    gap: 1rem;
}

.card {
    background-image: url(/Images/background8.jpg);
    background-color:black;
    padding: 43px;
    box-shadow: 0 0 20px silver;
    margin-top: 40px;    
    margin-bottom: 40px;     
    flex-basis: 32%;


}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

/* End Features Section Styles */
    </style>