<!-- Semesters Section -->
<section id="semesters">
    <div class="container">
    <h2>Key Assignments</h2>
    <section id="workthumbnails">
    <div class="thumbnail">
        
    <img class="thumb" src="Images/thumbnail(1).png" alt="VS Code">
    <img class="thumb" src="Images/thumbnail(1).png" alt="Git">
    <img class="thumb" src="Images/thumbnail(1).png" alt="Mark Down">
    <img class="thumb" src="Images/thumbnail(1).png" alt="JavaScript">
    <img class="thumb" src="Images/thumbnail(1).png" alt="Photoshop">
    <img class="thumb" src="Images/thumbnail(1).png" alt="Github">

    
    </div>
    </section>
    <h3>Semester 1</h3>
    <ul class="assignments">
    <li><a href="#" target="new">A001 - Description</a></li>
    <li><a href="#" target="new">A002 - Description</a></li>
    <li><a href="#" target="new">A003 - Description</a></li>
    <li><a href="#" target="new">A004 - Description</a></li>
    </ul>
    <h3>Semester 2</h3>
    <ul class="assignments">
    <li><a href="#" target="new">A005 - Description</a></li>
    <li><a href="#" target="new">A006- Description</a></li>
    <li><a href="#" target="new">A007 - Description</a></li>
    <li><a href="#" target="new">A008 - Description</a></li>
    </ul>
    </div>
    <!-- End Semesters Container -->
    </section>
    <!-- End Semesters Section -->
    <style>

 /*SemesterSection*/

#semesters{
    padding:2rem 0 2rem 0;
    }
    
    #semesters h2, #semesters h3{
    padding:2rem 0 2rem 0;
    }
    
    #semesters h2{
    font-size:4rem;
    }
    
    #semesters h3{
    font-size:2.5rem;
    }
    
    .assignments a{
    color:#2d6858;
    }
    


/* End Semesters*/


/* SemestersThumbnailSection */

.thumbnail{
    background-image: url(/Images/note.jpg);
    background-color:#E4E4E4;
    border:2px dashed red;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap:wrap;
    align-content:center;
    border-radius: 30px;
    }
    
    .thumb{
    width:150px;
    height:150px;
    }
    
    .thumb:hover {
        animation-name: tilt;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    

 
    @keyframes tilt {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(-15deg); }
    }
    
    /* EndSemestersThumbnailSectionStyles */



    </style>